/* styles.css */

/* El componente ocupa toda la pantalla */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw; /* Asegura que ocupa todo el ancho */
  background-color: #121212; /* Fondo de pantalla oscuro */
  color: #fff;
  position: relative;
}


/* El contenedor de botones mantiene un tamaño simplificado */
.btns-container {
  background: url('../../../../public/assets/img/menu_inicio/fondo_inicio.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: #ffcb05;
  border: none;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1.2em;
  color: #3b4cca;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3b4cca;
  color: #fff;
}
