<body>
  <section>
    <!-- Barra de navegación -->
    <nav>
      <a [routerLink]="['/add-pokemon']">{{ 'actions.add' | translate }}</a>
      <a [routerLink]="['/pokemon-list']">{{ 'NAV.POKEMON_LIST' | translate }}</a>
      <a (click)="logout()">{{ 'actions.logout' | translate }}</a>
    </nav>

    <!-- Formulario de agregar Pokémon -->
    <fieldset>
      <legend>{{ 'addPokemon.title' | translate }}</legend>
      <form (ngSubmit)="addPokemonBD()">
        <!-- Entrada para ID del Pokémon -->
        <label for="pokeID">{{ 'addPokemon.idLabel' | translate }}: </label>
        <input type="text" name="pokeID" id="pokeID" [(ngModel)]="pokeID" [placeholder]="'addPokemon.idPlaceholder' | translate">

        <!-- Botón para buscar Pokémon -->
        <button type="button" (click)="generarPokemon(pokeID)">{{ 'actions.search' | translate }}</button>

        <!-- Si se obtiene la respuesta de la API -->
        <div *ngIf="pokeAPI">
          <h4>{{ 'addPokemon.basicInfo' | translate }}</h4>
          <ul>
            <!-- Imagen del Pokémon -->
            <li>
              <img [src]="pokeAPI.sprites.front_default" [alt]="pokeAPI.id + ' - ' + pokeAPI.name" class="pokemon-icon">
            </li>
            <!-- ID y nombre del Pokémon -->
            <li>{{ 'addPokemon.idApi' | translate }}: {{pokeAPI.id}}</li>
            <li>{{ 'addPokemon.nameApi' | translate }}: {{pokeAPI.name}}</li>
            <li>{{ 'addPokemon.typeApi' | translate }}:
              <span *ngFor="let t of pokeAPI.types; let i = index">
                {{t?.type.name}}<span *ngIf="i < pokeAPI.types.length - 1">,</span>
              </span>
            </li>
          </ul>
        </div>

        <!-- Sección de estadísticas -->
        <div *ngIf="pokeAPI">
          <h4>{{ 'addPokemon.baseStats' | translate }}</h4>
          <ul>
            <li *ngFor="let st of pokeAPI.stats">{{st?.stat.name}}: {{st?.base_stat}}</li>
          </ul>
        </div>

        <!-- Sección de movimientos -->
        <div *ngIf="pokeAPI">
          <h4>{{ 'addPokemon.attacks' | translate }}</h4>
          <h6>{{ 'addPokemon.statusMoveRestriction' | translate }}</h6>
          <ul>
            <li *ngFor="let move of pokeAPI.moves">
              {{move.move.name}} - <button type="button" (click)="agregarAtaque(move.move.name)">{{ 'actions.add' | translate }}</button>
            </li>
          </ul>
        </div>

        <!-- Botón para guardar -->
        <button type="submit">{{ 'actions.save' | translate }}</button>
      </form>
    </fieldset>
  </section>
</body>
