<body>
  <section>
    <!-- Barra de navegación -->
    <nav>
      <a [routerLink]="['add-pokemon']">Agregar</a>
      <a [routerLink]="['/pokemon-list']">Ver Lista</a>
    </nav>

    <!-- Formulario de agregar Pokémon -->
    <fieldset>
      <legend>Agregar Pokémon</legend>
      <form (ngSubmit)="addPokemonBD()">
        <!-- Entrada para ID del Pokémon -->
        <label for="pokeID">ID: </label>
        <input type="text" name="pokeID" id="pokeID" [(ngModel)]="pokeID" placeholder="Ingresar número del Pokémon">

        <!-- Botón para buscar Pokémon -->
        <button type="button" (click)="generarPokemon(pokeID)">Buscar</button>

        <!-- Si se obtiene la respuesta de la API -->
        <div *ngIf="pokeAPI">
          <h4>Información Básica</h4>
          <ul>
            <!-- Imagen del Pokémon -->
            <li>
              <img [src]="pokeAPI.sprites.front_default" [alt]="pokeAPI.id + ' - ' + pokeAPI.name" class="pokemon-icon">
            </li>
            <!-- ID y nombre del Pokémon -->
            <li>ID: {{pokeAPI.id}}</li>
            <li>Nombre: {{pokeAPI.name}}</li>
            <li>Tipo:
              <span *ngFor="let t of pokeAPI.types; let i = index">
                {{t?.type.name}}<span *ngIf="i < pokeAPI.types.length - 1">,</span>
              </span>
            </li>
          </ul>
        </div>

        <!-- Sección de estadísticas -->
        <div *ngIf="pokeAPI">
          <h4>Estadísticas Base</h4>
          <ul>
            <li *ngFor="let st of pokeAPI.stats">{{st?.stat.name}}: {{st?.base_stat}}</li>
          </ul>
        </div>

        <!-- Sección de movimientos -->
        <div *ngIf="pokeAPI">
          <h4>Ataques</h4>
          <h6>Los movimientos de tipo estatus no pueden ser agregados</h6>
          <ul>
            <li *ngFor="let move of pokeAPI.moves">
              {{move.move.name}} - <button type="button" (click)="agregarAtaque(move.move.name)">Agregar</button>
            </li>
          </ul>
        </div>

        <!-- Botón para guardar -->
        <button type="submit">Guardar</button>
      </form>
    </fieldset>
  </section>
</body>
