

html, body {
  margin: 0; /* Elimina el margen por defecto */
  padding: 0; /* Elimina el relleno por defecto */
  height: 100%; /* Asegura que el cuerpo ocupe todo el alto */
  top: 0; /* Inicia desde la parte superior */
  left: 0; /* Inicia desde la izquierda */
  width: 100%; /* Ocupa todo el ancho de la ventana */
}

.ESPERA img{
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}

.bienvenida-container {
    position: fixed; /* Fija el contenedor relativo a la ventana */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el centro real */
    background: rgba(255, 255, 255, 0.8);
    border: 4px solid #007bff; /* Color y grosor del borde */
    border-radius: 10px; /* Esquinas redondeadas */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para un efecto de profundidad */
    max-width: 80%; /* Ancho máximo del contenedor */
    z-index: 1000; /* Para asegurarte de que se muestre sobre otros elementos */
  }

  .mensaje {
    font-size: 25px; /* Ajusta el tamaño de la fuente según lo necesites */
    align-items: center;
    text-align: center; /* Centrar el texto dentro del contenedor */
    line-height: 1.5; /* Espaciado entre líneas */
  }

