<div class="menu">
    <h1>Bienvenido al Juego</h1>
    <div>
      @if (tienePartida) {
        <button (click)="onNuevaPartida()">Nueva Partida</button>
        <button (click)="onSeleccionarPartida()">Cargar Partida</button>
      }
      @if (!tienePartida) {
        <button (click)="onSeleccionarPartida()">Nueva Partida</button>
      }
      <button (click)="verRanking()">Ranking</button>
    </div>
  </div>
  <nav class="navbar">
    <div class="BotoncitoLogout">
      <button type="button" (click)="logout()">LOGOUT</button>
    </div>
  </nav>

