<div class="TITULO">
    SOBRE NOSOTROS
</div>

<div class="fotos-container">
    <div class="foto" *ngFor="let foto of fotos">
        <img [src]="foto.url" alt="Foto del equipo" />
        <a [href]="foto.urlGitHub" class="pie-foto" target="_blank">{{ foto.texto }}</a>
    </div>
</div>

<nav class="navbar">
    <img src="pokeball_icon.png" alt="fondo">
    <ul class="nav-links">
        <li>
            <a routerLinkActive="active" routerLink="/">INICIO</a>
            |
            <a routerLinkActive="active" routerLink="/login">LOGIN</a>
            |
            <a routerLinkActive="active" routerLink="/register">REGISTER</a>
            |
            <a routerLinkActive="active" routerLink="/login-admin">ADMIN</a>
        </li>
    </ul>
</nav>