<section>
    <fieldset>
        <legend>AgregarPokemon</legend>
        <form action="">
            <label for="pokeID">ID: </label> <input type="text" name="pokeID" id="pokeID" [(ngModel)]="pokeID" placeholder="Ingresar nro del pokemon"> <button type="button">Buscar</button>
            <div>
                
                <h4>Informacion Basica</h4>
                
            </div>
            <div>
                <h4>Estadisticas</h4>
                
            </div>
            <div>
                <h4>Ataques</h4>
                <!-- ul que tenga en si li un checkbox que almacene hasta cuatro movimientos -->
            </div>
            <button type="submit">Guardar</button>
        </form>
    </fieldset>
</section>
