body {
    /*background-image: url('/img/ceruledge-de-pokemon_3840x2160_xtrafondos.com.jpg'); /* Cambia esta URL por la de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  