<p>user-profile works!</p>
<div class="menu">
    <h1>Tu perfil</h1>

    <div class="cuenta">
        <button class="config_cuenta">Configuración de tu cuenta</button>
        <app-user-account-info></app-user-account-info>
    </div>

    <div class="info_partidas">
        <button class="info_partidas">Tus partidas</button>
        <app-user-ingame-info></app-user-ingame-info>
    </div>
</div>
<nav class="navbar">
  <div class="BotoncitoLogout">
    <button type="button">VOLVER</button>
  </div>
</nav>