<div class="menu">
    <nav *ngIf="verConfigCuenta && verInfoPartidas" class="navbar">
      <div class="BotoncitoLogout">
        <button (click)="onSalir()" type="button" class="btnVolver">VOLVER</button>
      </div>
    </nav>
    <h1>Tu perfil</h1>
    <div class="cuenta">
      <button *ngIf="verConfigCuenta && verInfoPartidas" (click)="activarConfigCuenta()" class="config_cuenta">Configuración de tu cuenta</button>
      <app-user-account-info *ngIf="verConfigCuenta && !verInfoPartidas" [userId]="usuario?.id" (volver)="onVolver()"></app-user-account-info>
    </div>
  </div>
  